.card {
  border: 1px solid black;
  border-radius: 11px;
  box-shadow: 2px 2px 30px 5px black;
  display: flex;
  flex-flow: column wrap;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 42px;
  width: 450px;
}

h1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
  margin-top: 20px;
}

img {
  border-radius: 18px;
  margin: auto;
  width: 250px;
}

.card-info {
  align-items: center;
  border: 2px solid black;
  border-radius: 18px;
  display: flex;
  flex-flow: column wrap;
  font-family: Verdana , sans-serif;
  font-size: 22px;
  margin: auto;
  padding: 16px;
}

span {
  background-color: green;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  height: 110px;
  padding: 20px;
  position: absolute;
  right: 430px;
  top: 290px;
  transform: rotate(-20deg);
  width: 110px;
}
